body {
    background-color: rgb(96, 96, 96);
    /* Dark gray */
    background-image: linear-gradient(to bottom right, #193821, rgba(37, 37, 37, 0.565));
    /* Dark green to dark gray gradient */
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(201, 201, 201);
    animation: shadeAnimation 3s ease-in-out infinite alternate; /* Adjust the duration (4s) as desired */
}

@keyframes shadeAnimation {
    0% {
      background-color: #193821; /* Initial dark green color */
    }
    50% {
      background-color: #132116; /* Intermediate darker green color */
    }
    100% {
      background-color: rgb(96, 96, 96); /* Final dark gray color */
    }
  }

/* Header */
header {
    padding: 20px 0;
    text-align: center;
}

/* Wrapper */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Heading Styles */
h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    animation: typingAnimation 3s steps(90, end), step-end;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

@keyframes typingAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Navigation */
nav {
    margin-top: 20px;
    text-align: center;
}

/* Buttons */
button {
    background-color: silver;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0c0c0;
}

/* Image */
img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Content */
.content {
    display: none;
}

.active {
    display: block;
}

/* Custom font for the "About Me" content */
.content p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 1.5;
}

/* Progress Bar */
.progress-bar-container {
    width: 300px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #5d5d5d;
    text-align: left;
    line-height: 20px;
    color: white;
}

/* Custom styles for the progress bars */
.progress-label {
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

/* Custom styles for the CV download button */
.download-cv-btn {
    background-color: silver;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

/* Project Buttons */
.project-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.project-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.project-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    border: 3px solid #555;
}

.project-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-button:hover {
    transform: scale(1.1);
    border-color: #888;
}

/* Social Media Buttons */
.social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media-button {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-media-button:hover {
    transform: scale(1.1);
}