body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='2400' preserveAspectRatio='none' viewBox='0 0 1920 2400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1561%26quot%3b)' fill='none'%3e%3crect width='1920' height='2400' x='0' y='0' fill='rgba(15%2c 38%2c 18%2c 1)'%3e%3c/rect%3e%3cpath d='M344.4 126.16L517.61 226.16L517.61 426.16L344.4 526.16L171.19 426.16L171.19 226.16zM344.4 726.16L517.61 826.16L517.61 1026.16L344.4 1126.16L171.19 1026.16L171.19 826.16zM344.4 1926.16L517.61 2026.16L517.61 2226.16L344.4 2326.16L171.19 2226.16L171.19 2026.16zM690.82 126.16L864.03 226.16L864.03 426.16L690.82 526.16L517.61 426.16L517.61 226.16zM690.82 726.16L864.03 826.16L864.03 1026.16L690.82 1126.16L517.61 1026.16L517.61 826.16zM517.61 1626.16L690.82 1726.16L690.82 1926.16L517.61 2026.16L344.4 1926.16L344.4 1726.16zM864.03 -173.84L1037.24 -73.84L1037.24 126.16L864.03 226.16L690.82 126.16L690.82 -73.84zM1037.24 126.16L1210.45 226.16L1210.45 426.16L1037.24 526.16L864.03 426.16L864.03 226.16z' stroke='rgba(245%2c 245%2c 245%2c 0.16)' stroke-width='2'%3e%3c/path%3e%3cpath d='M24.27 -51.54L78.83 -20.04L78.83 42.96L24.27 74.46L-30.29 42.96L-30.29 -20.04zM78.83 231.96L133.39 263.46L133.39 326.46L78.83 357.96L24.27 326.46L24.27 263.46zM78.83 420.96L133.39 452.46L133.39 515.46L78.83 546.96L24.27 515.46L24.27 452.46zM24.27 515.46L78.83 546.96L78.83 609.96L24.27 641.46L-30.29 609.96L-30.29 546.96zM78.83 609.96L133.39 641.46L133.39 704.46L78.83 735.96L24.27 704.46L24.27 641.46zM24.27 704.46L78.83 735.96L78.83 798.96L24.27 830.46L-30.29 798.96L-30.29 735.96zM78.83 987.96L133.39 1019.46L133.39 1082.46L78.83 1113.96L24.27 1082.46L24.27 1019.46zM78.83 1176.96L133.39 1208.46L133.39 1271.46L78.83 1302.96L24.27 1271.46L24.27 1208.46zM24.27 1271.46L78.83 1302.96L78.83 1365.96L24.27 1397.46L-30.29 1365.96L-30.29 1302.96zM24.27 1460.46L78.83 1491.96L78.83 1554.96L24.27 1586.46L-30.29 1554.96L-30.29 1491.96zM78.83 1743.96L133.39 1775.46L133.39 1838.46L78.83 1869.96L24.27 1838.46L24.27 1775.46zM24.27 1838.46L78.83 1869.96L78.83 1932.96L24.27 1964.46L-30.29 1932.96L-30.29 1869.96zM78.83 1932.96L133.39 1964.46L133.39 2027.46L78.83 2058.96L24.27 2027.46L24.27 1964.46zM78.83 2121.96L133.39 2153.46L133.39 2216.46L78.83 2247.96L24.27 2216.46L24.27 2153.46zM78.83 2310.96L133.39 2342.46L133.39 2405.46L78.83 2436.96L24.27 2405.46L24.27 2342.46zM187.95 231.96L242.51 263.46L242.51 326.46L187.95 357.96L133.39 326.46L133.39 263.46zM133.39 515.46L187.95 546.96L187.95 609.96L133.39 641.46L78.83 609.96L78.83 546.96zM133.39 704.46L187.95 735.96L187.95 798.96L133.39 830.46L78.83 798.96L78.83 735.96zM187.95 1176.96L242.51 1208.46L242.51 1271.46L187.95 1302.96L133.39 1271.46L133.39 1208.46zM187.95 1554.96L242.51 1586.46L242.51 1649.46L187.95 1680.96L133.39 1649.46L133.39 1586.46zM133.39 2027.46L187.95 2058.96L187.95 2121.96L133.39 2153.46L78.83 2121.96L78.83 2058.96zM133.39 2216.46L187.95 2247.96L187.95 2310.96L133.39 2342.46L78.83 2310.96L78.83 2247.96zM242.51 137.46L297.08 168.96L297.08 231.96L242.51 263.46L187.95 231.96L187.95 168.96zM297.08 420.96L351.64 452.46L351.64 515.46L297.08 546.96L242.51 515.46L242.51 452.46zM297.08 609.96L351.64 641.46L351.64 704.46L297.08 735.96L242.51 704.46L242.51 641.46zM297.08 798.96L351.64 830.46L351.64 893.46L297.08 924.96L242.51 893.46L242.51 830.46zM297.08 987.96L351.64 1019.46L351.64 1082.46L297.08 1113.96L242.51 1082.46L242.51 1019.46zM242.51 1271.46L297.08 1302.96L297.08 1365.96L242.51 1397.46L187.95 1365.96L187.95 1302.96zM297.08 1365.96L351.64 1397.46L351.64 1460.46L297.08 1491.96L242.51 1460.46L242.51 1397.46zM242.51 1838.46L297.08 1869.96L297.08 1932.96L242.51 1964.46L187.95 1932.96L187.95 1869.96zM297.08 1932.96L351.64 1964.46L351.64 2027.46L297.08 2058.96L242.51 2027.46L242.51 1964.46zM351.64 326.46L406.2 357.96L406.2 420.96L351.64 452.46L297.08 420.96L297.08 357.96zM406.2 609.96L460.76 641.46L460.76 704.46L406.2 735.96L351.64 704.46L351.64 641.46zM351.64 1460.46L406.2 1491.96L406.2 1554.96L351.64 1586.46L297.08 1554.96L297.08 1491.96zM406.2 1554.96L460.76 1586.46L460.76 1649.46L406.2 1680.96L351.64 1649.46L351.64 1586.46zM406.2 1743.96L460.76 1775.46L460.76 1838.46L406.2 1869.96L351.64 1838.46L351.64 1775.46zM406.2 2121.96L460.76 2153.46L460.76 2216.46L406.2 2247.96L351.64 2216.46L351.64 2153.46zM351.64 2216.46L406.2 2247.96L406.2 2310.96L351.64 2342.46L297.08 2310.96L297.08 2247.96zM406.2 2310.96L460.76 2342.46L460.76 2405.46L406.2 2436.96L351.64 2405.46L351.64 2342.46zM460.76 -51.54L515.32 -20.04L515.32 42.96L460.76 74.46L406.2 42.96L406.2 -20.04zM515.32 609.96L569.88 641.46L569.88 704.46L515.32 735.96L460.76 704.46L460.76 641.46zM460.76 1460.46L515.32 1491.96L515.32 1554.96L460.76 1586.46L406.2 1554.96L406.2 1491.96zM515.32 1932.96L569.88 1964.46L569.88 2027.46L515.32 2058.96L460.76 2027.46L460.76 1964.46zM515.32 2121.96L569.88 2153.46L569.88 2216.46L515.32 2247.96L460.76 2216.46L460.76 2153.46zM460.76 2216.46L515.32 2247.96L515.32 2310.96L460.76 2342.46L406.2 2310.96L406.2 2247.96zM515.32 2310.96L569.88 2342.46L569.88 2405.46L515.32 2436.96L460.76 2405.46L460.76 2342.46zM569.88 -51.54L624.44 -20.04L624.44 42.96L569.88 74.46L515.32 42.96L515.32 -20.04zM569.88 515.46L624.44 546.96L624.44 609.96L569.88 641.46L515.32 609.96L515.32 546.96zM569.88 704.46L624.44 735.96L624.44 798.96L569.88 830.46L515.32 798.96L515.32 735.96zM624.44 1365.96L679 1397.46L679 1460.46L624.44 1491.96L569.88 1460.46L569.88 1397.46zM624.44 1743.96L679 1775.46L679 1838.46L624.44 1869.96L569.88 1838.46L569.88 1775.46zM733.56 42.96L788.13 74.46L788.13 137.46L733.56 168.96L679 137.46L679 74.46zM733.56 420.96L788.13 452.46L788.13 515.46L733.56 546.96L679 515.46L679 452.46zM733.56 1176.96L788.13 1208.46L788.13 1271.46L733.56 1302.96L679 1271.46L679 1208.46zM733.56 1932.96L788.13 1964.46L788.13 2027.46L733.56 2058.96L679 2027.46L679 1964.46zM842.69 42.96L897.25 74.46L897.25 137.46L842.69 168.96L788.13 137.46L788.13 74.46zM842.69 231.96L897.25 263.46L897.25 326.46L842.69 357.96L788.13 326.46L788.13 263.46zM788.13 326.46L842.69 357.96L842.69 420.96L788.13 452.46L733.56 420.96L733.56 357.96zM788.13 893.46L842.69 924.96L842.69 987.96L788.13 1019.46L733.56 987.96L733.56 924.96zM788.13 1271.46L842.69 1302.96L842.69 1365.96L788.13 1397.46L733.56 1365.96L733.56 1302.96zM788.13 1460.46L842.69 1491.96L842.69 1554.96L788.13 1586.46L733.56 1554.96L733.56 1491.96zM842.69 1554.96L897.25 1586.46L897.25 1649.46L842.69 1680.96L788.13 1649.46L788.13 1586.46zM842.69 1743.96L897.25 1775.46L897.25 1838.46L842.69 1869.96L788.13 1838.46L788.13 1775.46zM842.69 2310.96L897.25 2342.46L897.25 2405.46L842.69 2436.96L788.13 2405.46L788.13 2342.46zM897.25 -51.54L951.81 -20.04L951.81 42.96L897.25 74.46L842.69 42.96L842.69 -20.04zM951.81 231.96L1006.37 263.46L1006.37 326.46L951.81 357.96L897.25 326.46L897.25 263.46zM951.81 609.96L1006.37 641.46L1006.37 704.46L951.81 735.96L897.25 704.46L897.25 641.46zM897.25 704.46L951.81 735.96L951.81 798.96L897.25 830.46L842.69 798.96L842.69 735.96zM897.25 1649.46L951.81 1680.96L951.81 1743.96L897.25 1775.46L842.69 1743.96L842.69 1680.96zM897.25 1838.46L951.81 1869.96L951.81 1932.96L897.25 1964.46L842.69 1932.96L842.69 1869.96zM1006.37 326.46L1060.93 357.96L1060.93 420.96L1006.37 452.46L951.81 420.96L951.81 357.96zM1060.93 420.96L1115.49 452.46L1115.49 515.46L1060.93 546.96L1006.37 515.46L1006.37 452.46zM1060.93 609.96L1115.49 641.46L1115.49 704.46L1060.93 735.96L1006.37 704.46L1006.37 641.46zM1006.37 1271.46L1060.93 1302.96L1060.93 1365.96L1006.37 1397.46L951.81 1365.96L951.81 1302.96zM1006.37 1460.46L1060.93 1491.96L1060.93 1554.96L1006.37 1586.46L951.81 1554.96L951.81 1491.96zM1006.37 2027.46L1060.93 2058.96L1060.93 2121.96L1006.37 2153.46L951.81 2121.96L951.81 2058.96zM1006.37 2216.46L1060.93 2247.96L1060.93 2310.96L1006.37 2342.46L951.81 2310.96L951.81 2247.96zM1115.49 137.46L1170.05 168.96L1170.05 231.96L1115.49 263.46L1060.93 231.96L1060.93 168.96zM1170.05 231.96L1224.62 263.46L1224.62 326.46L1170.05 357.96L1115.49 326.46L1115.49 263.46zM1115.49 326.46L1170.05 357.96L1170.05 420.96L1115.49 452.46L1060.93 420.96L1060.93 357.96zM1115.49 515.46L1170.05 546.96L1170.05 609.96L1115.49 641.46L1060.93 609.96L1060.93 546.96zM1115.49 893.46L1170.05 924.96L1170.05 987.96L1115.49 1019.46L1060.93 987.96L1060.93 924.96zM1115.49 1082.46L1170.05 1113.96L1170.05 1176.96L1115.49 1208.46L1060.93 1176.96L1060.93 1113.96zM1115.49 1460.46L1170.05 1491.96L1170.05 1554.96L1115.49 1586.46L1060.93 1554.96L1060.93 1491.96zM1115.49 1649.46L1170.05 1680.96L1170.05 1743.96L1115.49 1775.46L1060.93 1743.96L1060.93 1680.96zM1170.05 1743.96L1224.62 1775.46L1224.62 1838.46L1170.05 1869.96L1115.49 1838.46L1115.49 1775.46zM1115.49 2027.46L1170.05 2058.96L1170.05 2121.96L1115.49 2153.46L1060.93 2121.96L1060.93 2058.96zM1279.18 42.96L1333.74 74.46L1333.74 137.46L1279.18 168.96L1224.62 137.46L1224.62 74.46zM1224.62 137.46L1279.18 168.96L1279.18 231.96L1224.62 263.46L1170.05 231.96L1170.05 168.96zM1279.18 231.96L1333.74 263.46L1333.74 326.46L1279.18 357.96L1224.62 326.46L1224.62 263.46zM1279.18 420.96L1333.74 452.46L1333.74 515.46L1279.18 546.96L1224.62 515.46L1224.62 452.46zM1224.62 515.46L1279.18 546.96L1279.18 609.96L1224.62 641.46L1170.05 609.96L1170.05 546.96zM1279.18 609.96L1333.74 641.46L1333.74 704.46L1279.18 735.96L1224.62 704.46L1224.62 641.46zM1224.62 893.46L1279.18 924.96L1279.18 987.96L1224.62 1019.46L1170.05 987.96L1170.05 924.96zM1279.18 987.96L1333.74 1019.46L1333.74 1082.46L1279.18 1113.96L1224.62 1082.46L1224.62 1019.46zM1224.62 1082.46L1279.18 1113.96L1279.18 1176.96L1224.62 1208.46L1170.05 1176.96L1170.05 1113.96zM1224.62 1271.46L1279.18 1302.96L1279.18 1365.96L1224.62 1397.46L1170.05 1365.96L1170.05 1302.96zM1224.62 1460.46L1279.18 1491.96L1279.18 1554.96L1224.62 1586.46L1170.05 1554.96L1170.05 1491.96zM1279.18 1554.96L1333.74 1586.46L1333.74 1649.46L1279.18 1680.96L1224.62 1649.46L1224.62 1586.46zM1279.18 1932.96L1333.74 1964.46L1333.74 2027.46L1279.18 2058.96L1224.62 2027.46L1224.62 1964.46zM1279.18 2121.96L1333.74 2153.46L1333.74 2216.46L1279.18 2247.96L1224.62 2216.46L1224.62 2153.46zM1333.74 -51.54L1388.3 -20.04L1388.3 42.96L1333.74 74.46L1279.18 42.96L1279.18 -20.04zM1388.3 231.96L1442.86 263.46L1442.86 326.46L1388.3 357.96L1333.74 326.46L1333.74 263.46zM1333.74 704.46L1388.3 735.96L1388.3 798.96L1333.74 830.46L1279.18 798.96L1279.18 735.96zM1333.74 1460.46L1388.3 1491.96L1388.3 1554.96L1333.74 1586.46L1279.18 1554.96L1279.18 1491.96zM1388.3 1743.96L1442.86 1775.46L1442.86 1838.46L1388.3 1869.96L1333.74 1838.46L1333.74 1775.46zM1333.74 1838.46L1388.3 1869.96L1388.3 1932.96L1333.74 1964.46L1279.18 1932.96L1279.18 1869.96zM1388.3 1932.96L1442.86 1964.46L1442.86 2027.46L1388.3 2058.96L1333.74 2027.46L1333.74 1964.46zM1497.42 42.96L1551.98 74.46L1551.98 137.46L1497.42 168.96L1442.86 137.46L1442.86 74.46zM1497.42 420.96L1551.98 452.46L1551.98 515.46L1497.42 546.96L1442.86 515.46L1442.86 452.46zM1497.42 609.96L1551.98 641.46L1551.98 704.46L1497.42 735.96L1442.86 704.46L1442.86 641.46zM1497.42 798.96L1551.98 830.46L1551.98 893.46L1497.42 924.96L1442.86 893.46L1442.86 830.46zM1442.86 893.46L1497.42 924.96L1497.42 987.96L1442.86 1019.46L1388.3 987.96L1388.3 924.96zM1497.42 1554.96L1551.98 1586.46L1551.98 1649.46L1497.42 1680.96L1442.86 1649.46L1442.86 1586.46zM1442.86 1649.46L1497.42 1680.96L1497.42 1743.96L1442.86 1775.46L1388.3 1743.96L1388.3 1680.96zM1497.42 1932.96L1551.98 1964.46L1551.98 2027.46L1497.42 2058.96L1442.86 2027.46L1442.86 1964.46zM1442.86 2216.46L1497.42 2247.96L1497.42 2310.96L1442.86 2342.46L1388.3 2310.96L1388.3 2247.96zM1497.42 2310.96L1551.98 2342.46L1551.98 2405.46L1497.42 2436.96L1442.86 2405.46L1442.86 2342.46zM1551.98 137.46L1606.54 168.96L1606.54 231.96L1551.98 263.46L1497.42 231.96L1497.42 168.96zM1606.54 231.96L1661.1 263.46L1661.1 326.46L1606.54 357.96L1551.98 326.46L1551.98 263.46zM1551.98 326.46L1606.54 357.96L1606.54 420.96L1551.98 452.46L1497.42 420.96L1497.42 357.96zM1606.54 609.96L1661.1 641.46L1661.1 704.46L1606.54 735.96L1551.98 704.46L1551.98 641.46zM1551.98 893.46L1606.54 924.96L1606.54 987.96L1551.98 1019.46L1497.42 987.96L1497.42 924.96zM1606.54 987.96L1661.1 1019.46L1661.1 1082.46L1606.54 1113.96L1551.98 1082.46L1551.98 1019.46zM1606.54 1365.96L1661.1 1397.46L1661.1 1460.46L1606.54 1491.96L1551.98 1460.46L1551.98 1397.46zM1606.54 1554.96L1661.1 1586.46L1661.1 1649.46L1606.54 1680.96L1551.98 1649.46L1551.98 1586.46zM1551.98 1649.46L1606.54 1680.96L1606.54 1743.96L1551.98 1775.46L1497.42 1743.96L1497.42 1680.96zM1606.54 1743.96L1661.1 1775.46L1661.1 1838.46L1606.54 1869.96L1551.98 1838.46L1551.98 1775.46zM1606.54 2310.96L1661.1 2342.46L1661.1 2405.46L1606.54 2436.96L1551.98 2405.46L1551.98 2342.46zM1661.1 -51.54L1715.67 -20.04L1715.67 42.96L1661.1 74.46L1606.54 42.96L1606.54 -20.04zM1661.1 893.46L1715.67 924.96L1715.67 987.96L1661.1 1019.46L1606.54 987.96L1606.54 924.96zM1715.67 1365.96L1770.23 1397.46L1770.23 1460.46L1715.67 1491.96L1661.1 1460.46L1661.1 1397.46zM1661.1 1460.46L1715.67 1491.96L1715.67 1554.96L1661.1 1586.46L1606.54 1554.96L1606.54 1491.96zM1715.67 1554.96L1770.23 1586.46L1770.23 1649.46L1715.67 1680.96L1661.1 1649.46L1661.1 1586.46zM1715.67 2310.96L1770.23 2342.46L1770.23 2405.46L1715.67 2436.96L1661.1 2405.46L1661.1 2342.46zM1770.23 137.46L1824.79 168.96L1824.79 231.96L1770.23 263.46L1715.67 231.96L1715.67 168.96zM1824.79 609.96L1879.35 641.46L1879.35 704.46L1824.79 735.96L1770.23 704.46L1770.23 641.46zM1770.23 704.46L1824.79 735.96L1824.79 798.96L1770.23 830.46L1715.67 798.96L1715.67 735.96zM1770.23 1082.46L1824.79 1113.96L1824.79 1176.96L1770.23 1208.46L1715.67 1176.96L1715.67 1113.96zM1824.79 1365.96L1879.35 1397.46L1879.35 1460.46L1824.79 1491.96L1770.23 1460.46L1770.23 1397.46zM1770.23 1460.46L1824.79 1491.96L1824.79 1554.96L1770.23 1586.46L1715.67 1554.96L1715.67 1491.96zM1770.23 1838.46L1824.79 1869.96L1824.79 1932.96L1770.23 1964.46L1715.67 1932.96L1715.67 1869.96zM1770.23 2027.46L1824.79 2058.96L1824.79 2121.96L1770.23 2153.46L1715.67 2121.96L1715.67 2058.96zM1770.23 2216.46L1824.79 2247.96L1824.79 2310.96L1770.23 2342.46L1715.67 2310.96L1715.67 2247.96zM1879.35 -51.54L1933.91 -20.04L1933.91 42.96L1879.35 74.46L1824.79 42.96L1824.79 -20.04zM1933.91 42.96L1988.47 74.46L1988.47 137.46L1933.91 168.96L1879.35 137.46L1879.35 74.46zM1879.35 137.46L1933.91 168.96L1933.91 231.96L1879.35 263.46L1824.79 231.96L1824.79 168.96zM1933.91 231.96L1988.47 263.46L1988.47 326.46L1933.91 357.96L1879.35 326.46L1879.35 263.46zM1879.35 1082.46L1933.91 1113.96L1933.91 1176.96L1879.35 1208.46L1824.79 1176.96L1824.79 1113.96zM1933.91 1176.96L1988.47 1208.46L1988.47 1271.46L1933.91 1302.96L1879.35 1271.46L1879.35 1208.46zM1879.35 1649.46L1933.91 1680.96L1933.91 1743.96L1879.35 1775.46L1824.79 1743.96L1824.79 1680.96zM1933.91 1743.96L1988.47 1775.46L1988.47 1838.46L1933.91 1869.96L1879.35 1838.46L1879.35 1775.46zM1933.91 1932.96L1988.47 1964.46L1988.47 2027.46L1933.91 2058.96L1879.35 2027.46L1879.35 1964.46zM1879.35 2027.46L1933.91 2058.96L1933.91 2121.96L1879.35 2153.46L1824.79 2121.96L1824.79 2058.96z' stroke='rgba(0%2c 51%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M107.26 1107.5L216.38 1170.5L216.38 1296.5L107.26 1359.5L-1.86 1296.5L-1.86 1170.5zM216.38 1674.5L325.5 1737.5L325.5 1863.5L216.38 1926.5L107.26 1863.5L107.26 1737.5zM325.5 729.5L434.63 792.5L434.63 918.5L325.5 981.5L216.38 918.5L216.38 792.5zM434.63 918.5L543.75 981.5L543.75 1107.5L434.63 1170.5L325.5 1107.5L325.5 981.5zM325.5 1863.5L434.63 1926.5L434.63 2052.5L325.5 2115.5L216.38 2052.5L216.38 1926.5zM871.12 540.5L980.24 603.5L980.24 729.5L871.12 792.5L761.99 729.5L761.99 603.5zM871.12 1296.5L980.24 1359.5L980.24 1485.5L871.12 1548.5L761.99 1485.5L761.99 1359.5zM980.24 2241.5L1089.36 2304.5L1089.36 2430.5L980.24 2493.5L871.12 2430.5L871.12 2304.5zM1634.97 351.5L1744.09 414.5L1744.09 540.5L1634.97 603.5L1525.85 540.5L1525.85 414.5zM1744.09 918.5L1853.22 981.5L1853.22 1107.5L1744.09 1170.5L1634.97 1107.5L1634.97 981.5zM1744.09 1674.5L1853.22 1737.5L1853.22 1863.5L1744.09 1926.5L1634.97 1863.5L1634.97 1737.5zM1634.97 1863.5L1744.09 1926.5L1744.09 2052.5L1634.97 2115.5L1525.85 2052.5L1525.85 1926.5z' stroke='rgba(74%2c 131%2c 63%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1561'%3e%3crect width='1920' height='2400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-color: rgb(27, 41, 29);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    animation: typingAnimation 3s steps(90, end), step-end infinite;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

@keyframes typingAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

nav {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: silver;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0c0c0;
}

img {
    margin-top: 20px;
    width: 250px;
    /* Set the width to your desired size */
    height: 250px;
    /* Set the height to your desired size */
    border-radius: 50%;
    /* Make the image rounded */
    object-fit: cover;
    /* Maintain aspect ratio and crop if needed */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    display: none;
}

.active {
    display: block;
}

/* Custom font for the "About Me" content */
.content p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    /* You can adjust the font size as per your preference */
    line-height: 1.5;
    /* Adjust the line height to improve readability */
}

.progress-bar-container {
    width: 300px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #5d5d5d;
    text-align: left;
    line-height: 20px;
    color: white;
}

/* Custom styles for the progress bars */
.progress-label {
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

/* Custom styles for the CV download button */
.download-cv-btn {
    background-color: silver;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.project-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* Change justify-content as needed (e.g., 'space-between', 'space-around') to control spacing */
}

.project-button {
    width: 100px;
    /* Adjust the width to fit your image size */
    height: 100px;
    /* Adjust the height to fit your image size */
    border-radius: 50%;
    overflow: hidden;
    /* Clip the image to fit within the circular button */
    cursor: pointer;
    transition: transform 0.3s;
    border: 3px solid #555;
    /* Add border and adjust border color and size */
}

.project-button img {
    width: 100%;
    /* Make the image fill the container */
    height: 100%;
    /* Make the image fill the container */
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
}

.project-button:hover {
    transform: scale(1.1);
    border-color: #888;
    /* Change border color on hover */
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media-button {
    width: 30px;
    /* Adjust the width to fit your image size */
    height: 30px;
    /* Adjust the height to fit your image size */
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-media-button:hover {
    transform: scale(1.1);
}